/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.advert_description{
    padding:5px;
    border: 1px solid #e6e1e1;
}
#index_img{
    max-height: 200px;
    max-width: 200px;
}
.adverts_actions {
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    left: 21%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #e6e1e1;
}
.price {
    text-align: center;
    right: 0;
    display: block;
}
.input-sm{
    width:300px;
}
.input-price {
    width: 30px;
}
.my_nav button {
    height: 30px;
    text-align: center;
    vertical-align: baseline;
}
#filter {
    width: 200px;
    float: right;
}
.my_nav {
    padding: 5px;
    margin: 5px;
    position: relative;
    display: block;
}
.my_nav ul{
    height:auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.cat_list ul {
    display: -webkit-inline-box;
}
#advert_list {
    margin: 5px;
    min-width: 32%;
    min-height: 150px;
    padding-bottom: 50px;
    display: -webkit-inline-box;
}
#category_output {
    float: left;
    width: 300px;
}
input{
    display:inline-block;
}

ul {
    padding-left: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
