@using Authentication.Contracts.CookieAuthentication
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Authentication" asp-action="signout" asp-route-returnUrl="@Url.Action("Index", "Adverts")" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="Identity" asp-page="/Index" title="Manage">Hello @User.Claims.FirstOrDefault(c => c.Type == CookieCustomClaimNames.UserName).Value!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Authentication" asp-action="SignUp">Register</a></li>
            <li><a asp-controller="Authentication" asp-action="SignIn">Login</a></li>
        </ul>
    } 