@using Authentication.Contracts.CookieAuthentication
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav nav-item">
        <li class="nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Claims.FirstOrDefault(c => c.Type == CookieCustomClaimNames.UserName).Value<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-item">
                    <a asp-area="Identity" asp-page="/Index" title="Manage">@User.Claims.FirstOrDefault(c => c.Type == CookieCustomClaimNames.UserName).Value</a>
                </li>
                <li class="dropdown-item">
                    <a asp-controller="Adverts" asp-action="Create">Добавить</a>
                </li>
                <li class="dropdown-item">
                    <a href="/authentication/signout" >Выйти</a>
                </li>
            </ul>
        </li>
        <li class="nav nav-item">
            <a class="btn btn-outline-success" asp-controller="Adverts" asp-action="Create">Добавить объявление</a>
        </li>
    </ul>

}
else
{
    <li class="nav nav-item dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Регистрация и вход<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Authentication" asp-action="SignUp">Регистрация</a></li>
            <li ><a asp-controller="Authentication" asp-action="SignIn">Вход</a></li>
        </ul>
    </li>
}