@using Ads.MVCClientApplication.Models
@model ManageVM
@{
    ViewData["Title"] = "Личный кабинет";
}

<main id="card__post" role="main">
    <div class="album py-3">
        <div class="container">
            <div class="row">
                <div class="card__post">
                    <h2 class="card__title" data-bind="text: model().title"></h2>
                    <img class="card__img" src="~/images/Default user.png">
                    <div class="card__description">
                        <strong class="price">
                            <span data-bind="text: model().price"></span> $
                        </strong>
                        <p class="post__text" data-bind="text: model().text"></p>
                        <p>
                            Место нахождения: <span data-bind="text: model().address"></span>
                        </p>
                        <p>
                            Объявление добавлено: <span class="date" data-bind="text: model().created"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="comments">
                    <h3>Комментарии:</h3>
                    <!--ko foreach: model().advertComments-->
                    <div class="comment__post">
                        <h4 data-bind="text: userName"></h4>
                        <p data-bind="text: text"></p>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="~/js/adverts.js"></script>
<script type="text/javascript" src="~/js/cardVM.js"></script>
<script type="text/javascript">
    $(function () {
        ko.applyBindings(CardVM, $('#card__post')[0])
    });
</script>