@model Ads.Contracts.Dto.CreateUserDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация</h2>

<div class="col-3">
    <form action="/Authentication/SignUp" method="post">
        <div class="form-group">

            <label class="control-label" for="Email">Введите E-mail: </label>
            <input class="form-control" id="Email" name="Email" type="email" aria-describedby="emailHelp" placeholder="Enter email" value="">

            <label for="UserName">Имя пользователя</label>
            <input class="form-control" id="UserName" name="UserName" type="text" aria-describedby="emailHelp" placeholder="Enter email" value="">

            <label for="Password">Введите пароль</label>
            <input class="form-control" id="Password" name="Password" type="text" placeholder="Password" value="">

        </div>
        <button class="btn btn-primary" type="submit" name="SignUp">Регистрация</button>
        @Html.AntiForgeryToken()
    </form>
</div>

