@model Ads.Contracts.Dto.UserLoginDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>

<div class="col-3">
    <form action="/Authentication/SignIn" method="post">
        <div class="form-group">

            <label for="UserName">Имя пользователя</label>
            <input class="form-control" id="UserName" name="UserName" type="text" aria-describedby="emailHelp" placeholder="Enter email" value="">

            <label for="Password">Введите пароль</label>
            <input class="form-control" id="Password" name="Password" type="text" placeholder="Password" value="">

        </div>
        <button class="btn btn-primary" type="submit" name="SignIn">Вход</button>
        @Html.AntiForgeryToken()
    </form>
</div>

