@model Ads.Contracts.Dto.CreateUserDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="row justify-content-md-center">
    <div class="text-center">
        <form action="/Authentication/SignUp" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

            <label class="sr-only" for="Email">Введите E-mail: </label>
            <input class="form-control" id="Email" name="Email" type="email" aria-describedby="emailHelp" placeholder="Введите E-mail" value="">

            <label class="sr-only" for="UserName">Имя пользователя</label>
            <input class="form-control" id="UserName" name="UserName" type="text" aria-describedby="emailHelp" placeholder="Имя пользователя" value="">

            <label class="sr-only" for="Password">Введите пароль</label>
            <input class="form-control" id="Password" name="Password" type="password" placeholder="Введие пароль" value="">
            <br />
            <button class="btn btn-primary" type="submit" name="SignUp">Регистрация</button>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>



