@model Ads.CoreService.Contracts.Dto.UserLoginDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<div class="row justify-content-md-center">
    <div class="text-center">
        <form class="form-signin" action="/Authentication/SignIn" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
            <label class="sr-only" for="UserName">Имя пользователя</label>
            <input class="form-control" id="UserName" name="UserName" type="text" placeholder="Введите логин" required autofocus>

            <label class="sr-only" for="Password">Введите пароль</label>
            <input class="form-control" id="Password" name="Password" type="password" placeholder="Введите пароль" required>
            <div class="checkbox  mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-primary btn-block" type="submit" name="SignIn">Вход</button>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

