@model Ads.CoreService.Contracts.Dto.CreateUserDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Регистрация</h2>
<hr />
<form class="active" action="/Authentication/SignUp" method="post">
    <div class="form-group form-row">
        <label class="control-label col-3" for="FirstName">Имя</label>
        <input class="form-control col-3" id="FirstName" name="FirstName" type="text" aria-describedby="emailHelp" placeholder="Имя" value="">
    </div>
    <div class="form-group form-row">
        <label class="control-label col-3" for="LastName">Фамилию</label>
        <input class="form-control col-3" id="LastName" name="LastName" type="text" aria-describedby="emailHelp" placeholder="Фамилия" value="">
    </div>
    <div class="form-group form-row">
        <label class="control-label col-3" for="PhoneNumber">Номер телефона</label>
        <input class="form-control col-3" id="PhoneNumber" name="PhoneNumber" type="text" aria-describedby="emailHelp" data-format="+7 (ddd) ddd-dd-dd" placeholder="+7 (XXX) XXX-XX-XX" value="">
    </div>
    <div class="form-group form-row">
        <label class="control-label col-3" for="Email">Введите E-mail: </label>
        <input class="form-control col-3" id="Email" name="Email" type="email" aria-describedby="emailHelp" placeholder="Введите E-mail" value="">
    </div>
    <div class="form-group form-row">
        <label class="control-label col-3" for="UserName">Лигин</label>
        <input class="form-control col-3" id="UserName" name="UserName" type="text" aria-describedby="emailHelp" placeholder="Логин" value="">
    </div>
    <div class="form-group form-row">
        <label class="control-label col-3" for="Password">Введите пароль</label>
        <input class="form-control col-3" id="Password" name="StartPassword" type="password" placeholder="Пароль" value="">
    </div>
    <div class="form-group form-row">
        <label class="control-label col-3" for="Password">Подтвердите пароль</label>
        <input class="form-control col-3" id="Password" name="Password" type="password" placeholder="Пароль" value="">
    </div>
    <br />
    <button class="btn btn-primary" type="submit" name="SignUp">Регистрация</button>
    @Html.AntiForgeryToken()
</form>
<br />